body {
  background-color: lightslategray;
}

h1 {
  color: navy;
  margin-left: 20px;
}

h3 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  color: lightcoral;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-style: normal;
  color: white;
  align-items: center;
}

.dropdown-item {
  width: 3em;
  height: 3em;
}
.container {
  position:relative;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}