/* stylesheet for portfolio website */

/* setup */
body {
    margin: 0px;
    background-color: white;
}

#main {
    background-color: white;
    border-radius: 10px;
    margin: 0;
    padding: 5%;
}

h1 {
    padding: 25px;
    padding-top: 50px;
    color: black;
    text-align: center;
}

image {
    width: 40%;
    height: 40%;
    background-color: rgb(0, 0, 0);
}

#mainNav {
    width: 50%;
}

p {
    font-family: Franklin Gothic Medium;
    font-size: 20px;
}

/* section for nav bar */
nav {
    background-color:white;
    padding: 0px;
    width:100%;
    position:relative;
    top: 0px;
    height: 64px;
}
nav a{
    float: left;
    text-align: left;
    text-decoration: none;
    color: black;
}

nav a:hover{
    background-color: #0cf155;
}
nav b{
    text-align: left;
    text-decoration: none;
    color: black;
}

nav b:hover{
    background-color:#0cf155;
}
nav c{
    text-align: left;
    text-decoration: none;
    color: black;
}

nav c:hover{
    background-color:#0cf155;
}

/* for the extended sections */
.column {
    border-radius:25px;
    width: 25%;
    padding: 1%;
    margin: 0.5%;
    float: left;
    background-color: #0cf155;
    text-align: center;
    color: black;
    cursor: pointer;
}

.homeTabs{
    border-radius: 25px;
    padding: 5%;
    margin: 10%;
    background-color: white;
    clear: both;
}

.btn{
    width: 20%;
    background-color: white;
}

.closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.flex-container {
    display:flex;
}

header .overlay {
    position: absolute;
    top: 64px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 1;
}