/* stylesheet for portfolio website */

body {
    background-color: powderblue;
}

h1 {
    color: black;
    text-align: center;
}

p.portfolioText {
    text-align: float left;
}

image {
    text-align: float right;
}

p {
    font-family: Franklin Gothic Medium;
    font-size: 20px;
}