body {
  background-color: #007013da;
}

h1 {
  color: black;
  margin-left: 20px;
}

h3 {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-style: normal;
  color: black;
  align-items: center;
}

.dropdown-item {
  width: 3em;
  height: 3em;
}

.container {
  position: relative;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: lightgrey;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/* The grid: Three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 50px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.containerTab {
  padding: 20px;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the image */
.closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}